.brands {
  border-left: none;
  border-right: none;
  border: 1px solid #d8d8d8;
  padding: 20px 0;
  position: relative;

  .center-container {
    @include flex();
  }

  h4 {
    background-color: #fff;
    color: #414141;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    padding: 0 23px;
    position: absolute;
    text-transform: uppercase;
    top: -9px;
    transform: translateX(-50%);
  }

  @include media-md {
    .center-container {
      justify-content: space-around;
      max-height: 58px;
      overflow: hidden;
    }

    span {
      margin-right: 30px;
    }
  }
}
